.movie-card {
    background: #e8e5d2 !important;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.9) 1px 2px 0px 4px;
}

.title {
    font-family: 'Oswald', sans-serif;
}

.button {
    background: #E6834B !important;
}

@media all and (max-width: 767px) {
    .description {
        font-size: 14px;
    }
}