h2 {
    font-family: 'Oswald', sans-serif;
}

.movie-view {
    padding-top: 1px;
    padding-bottom: 30px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.9) 2px 3px 0px 5px;
}

.movie-poster {
    width: 200px;
    border: 2px solid black;
    border-radius: 3px;
}