h2 {
    font-family: 'Oswald', sans-serif;
}

.movie-info {
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.9) 2px 3px 0px 5px;
    margin-bottom: 20px
}

.movie-poster {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.9) 1px 2px 0px 4px;
    border-radius: 3px;
}

.fav-button {
    border: none !important;
    background: none !important;
    font-size: 20px !important;
}

@media all and (max-width: 575px) {
    .movie-poster-container {
        text-align: center;
    }

    .movie-poster {
        width: 300px;
    }
}