/*@import "../node_modules/bootstrap/scss/bootstrap";*/

$button-color: steelblue;

body {
    font-family: 'Poppins', sans-serif;
}

button {
    background-color: $button-color;
    border: 1px lighten($button-color, 20%) solid;
    border-radius: 5px;
    color: cornsilk;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

button:hover,
button:focus {
    cursor: pointer;
}